label {
    display: block;
    margin-bottom: 5px;
}

 /* CSS for card body */
.card-body {
    display: flex;
    align-items: center; 
}

/* CSS for image container */
.image-container {
    max-width: 175px;
    max-height: 175px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 6px;
    
}

/* CSS for image */
.card-img-top {
    max-width: 150px;
    max-height: 150px;
}

#items-container {
    max-width: 700px;
    margin: 0 auto;
}

.card-text-description {
    width: 300px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 8px; 
    resize: none; 
    outline: none; 
    font-family: inherit; 
    font-size: inherit; 
}