/* Mr. Listr Theme */
:root {
	--black: #06070eff;
	--honeydew: #effbefff;
	--satin-sheen-gold: #cca43bff;
	--cadet-gray: #93a3bcff;
	--ebony: #5a6650ff;
	--darker-satin-sheen-gold: #9e782dff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.Main-Page-Buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.Main-Page-Buttons button {
	background-color: var(--satin-sheen-gold);
	outline-color: black;
	margin-bottom: 15px;

}

.Main-Page-Buttons button:hover {
	background-color: #9e782dff;
	outline-color: black;
}