/* Mr. Listr Theme */
:root {
	--black: #06070eff;
	--honeydew: #effbefff;
	--satin-sheen-gold: #cca43bff;
	--cadet-gray: #93a3bcff;
	--ebony: #5a6650ff;
	--darker-satin-sheen-gold: #9e782dff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.Main-Page-Buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.Main-Page-Buttons button {
	background-color: var(--satin-sheen-gold);
	outline-color: black;
	margin-bottom: 15px;

}

.Main-Page-Buttons button:hover {
	background-color: #9e782dff;
	outline-color: black;
}
html,
body {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-style: normal;
	height: 100%;
}

.footer {
	color: var(--honeydew);
}

#interactive-footer {
	max-height: 75%;
	cursor: pointer;

	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: ease;

	overflow: hidden;
	transform: translateY(calc(100% - 60px));
	z-index: 999;
}

#interactive-footer.active {
	overflow-y: auto;
	transform: translateY(0);
}
#Hero {
	background-color: #cca43bff;
}


#Hero {
    background-color: #cca43bff;
}
