/* Mr. Listr Theme */
:root {
	--black: #06070eff;
	--honeydew: #effbefff;
	--satin-sheen-gold: #cca43bff;
	--cadet-gray: #93a3bcff;
	--ebony: #5a6650ff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.btn.btn-outline-primary {
background-color: var(--satin-sheen-gold);
color: var(--black);
}

.btn.btn-outline-secondary {
background-color: var(--satin-sheen-gold);
color: var(--black);
}

.menu-buttons > div {
	margin-bottom: 10px
}